<body>
  <div class="wrapper-form" style="background-image: url(https://res.cloudinary.com/dydwtoubz/image/upload/v1550660166/bachelorama/adults-audience-band-342520.jpg)">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Add Your Animation!</h2>
        <%= simple_form_for(@animation) do |f| %>
          <%= f.input :title, placeholder: 'Title', label: false%>
          <%= f.input :category, collection: Animation::CATEGORIES, as: :select, placeholder: 'Category'%>
          <%= f.input :price, placeholder: 'Price', label: false %>
          <%= f.input :description, placeholder: 'Description', label: false %>
          <%= f.input :address, placeholder: 'Address', label: false %>
          <%= f.input :photo, placeholder: 'Photo', label: false %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.submit class: "btn-rose"%>
        <% end %>
        </div>
    </div>
  </div>
</body>
