<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Add your animation</h2>
      <%= simple_form_for(@animation) do |f| %>
        <%= f.input :title, placeholder: 'Enter your title' %>
        <%= f.input :category, collection: Animation::CATEGORIES, as: :select %>
        <%= f.input :price %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit class: "btn btn-primary"%>
      <% end %>
      </div>
  </div>
</div>
