<% if @animation.photo.blank? %>
  <div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dydwtoubz/image/upload/v1550242925/cj6ntnbniqzqhjqmeldu.jpg)">
    <h1><%= @animation.title %></h1>
  </div>
<% else %>
  <div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @animation.photo %>')">
    <h1><%= @animation.title %></h1>
  </div>
<% end %>
<div class="main-container-show">
  <div class="wrapper-show">
    <div class="row-show">
      <h2><%= @animation.category.capitalize %></h2>
      <div class="grid">
          <div class="description">
            <h3>Description</h3>
            <p><%= @animation.description %></p>
          </div>
          <div class="calendar">
            <div class="col-md-6 col-md-offset-3">
                <%= simple_form_for [@animation, @booking] do |f| %>
                <%= f.input :arrival_time, as: :string, required: false, input_html: {class: "datepicker"} %>
                <%= f.input :departure_time, as: :string, required: false, input_html: {class: "datepicker"} %>
              <% end %>
            </div>
          </div>
        <div class="detail">
          <h2> <%= @animation.price %> $ </h2>
          <div class="links">
            <ul class= "ul-show">
              <li>
                <%= link_to "Book", new_animation_booking_path(@animation), class: 'btn btn-medium' %>
              </li>
              <li>
                <%= link_to "Review", new_animation_review_path(@animation), class: 'btn btn-medium'  %>
            </li>
              <%= link_to "Back", animations_path, class: 'btn btn-medium' %>
              <li>
            </li>
              <li>
              <% if @animation.user == current_user %>
              <%= link_to "Edit", edit_animation_path, class: 'btn btn-medium' %>
              <%= link_to "Delete", animation_path(@animation.id),
                  method: :delete,
                  data: { confirm: "Are you sure?" }, class: 'btn btn-medium' %>
              <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="reviews">
      <h3>Reviews</h3>
      <% @animation.reviews.each do |review| %>
        <div class="message">
          <img class="avatar-large" src="">
          <div class="message-name">
            <ul style="list-style: none;">
              <li>
                <h3 color=>Frank</h3>
              </li>
              <li>
                <p>22/02/19</p>
              </li>
            </ul>
          </div>
          <div class="message-body">
            <p><%= review.content  %></p>
          </div>
          <div class="message-rate">
            <%= review.rating  %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
<!-- fix the new animation booking -->
<!-- Fix the review comment, comments are not showing -->
