<div class="container">
  <h1>Welcome, <%= @user.email %>:</h1>
  <h2>Upcoming plans</h2>

  <ul class="list-unstyled">
    <% @user.bookings.each do |booking| %>
      <li class="product">

        <div class="product-upvote text-center">
          <p>16</p>
        </div>

        <img src=<%= booking.animation.photo %> alt="" class="product-image img-rounded" style="height: 300, width: 400">

        <div class="product-description">
          <p><%= booking.place %></p>
          <p><%= @user.email %></p>
          <p><%= booking.arrival_time %></p>
          <p><%= booking.departure_time %></p>
          <p><%= booking.animation.title %></p>
        </div>


        <div class="status">
          <p>Status</p>
        </div>
      </li>
      <% end %>

  </ul>
</div>
